.carousel {
  position: relative;
}
.carousel .carousel-inner {
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-item {
  display: none;
  justify-content: center;
  align-items: center;
}
.carousel .active {
  display: flex;
  background-color: white;
}
.carousel .carousel-control-prev, .carousel .carousel-control-next {
  position: absolute;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  bottom: 50%;
}
.carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel .carousel-control-next {
  right: 0;
}
.carousel .carousel-control-prev {
  left: 0;
}
.carousel .controls {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.carousel .controls li {
  list-style-type: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 5px 5px;
  cursor: pointer;
}
.carousel .controls li:hover {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
