.carousel{
  position: relative;
  .carousel-inner{
    width: 100%;
    overflow: hidden;
  }
  .carousel-item{
    display: none;
    justify-content: center;
    align-items: center
  }
  .active{
    display: flex;
    background-color: white;
  }
  .carousel-control-prev, .carousel-control-next{
    position: absolute;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    bottom: 50%;
    &:hover{
      background-color: rgba(255,255,255,0.5);
    }
  }
  .carousel-control-next{
    right: 0;
  }
  .carousel-control-prev{
    left: 0;
  }
  .controls{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;

    li{
      list-style-type: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid white;
      margin: 5px 5px;
      cursor: pointer;
      &:hover{
        background-color: white;

      }
    }
  }
}